USE [master]
GO
/****** Object:  Database [Login]    Script Date: 13.01.2020 08:36:39 ******/
CREATE DATABASE [Login]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Test_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLADMIN\MSSQL\DATA\Test_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Test_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLADMIN\MSSQL\DATA\Test_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Login].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Login]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 13.01.2020 08:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [Username], [Email], [Password]) VALUES (1, N'srhnylmz', N'srhnylmz1@gmail..com', N'123')
INSERT [dbo].[Users] ([UserId], [Username], [Email], [Password]) VALUES (2, N'erhnylmz', N'erhnylmz1@gmail.com', N'1234')
INSERT [dbo].[Users] ([UserId], [Username], [Email], [Password]) VALUES (3, N'scevizvi', N'scevizci@gmail.com', N'1111')
SET IDENTITY_INSERT [dbo].[Users] OFF
USE [master]
GO
